.header{
    background-color: $color-background;
    height: 80vh;
    padding: 0 10rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5rem;
        h1{
            color: $color-primary;
            font-size: 3.2rem;
            letter-spacing: 3px;          
        }
        p{
            margin: 1.5rem 0;
        }

        &__link{
            color: $color-primary;    
            font-size: 1rem;     
            font-family: "Raleway-Regular";   
        }
    }

    &-image{
        display: flex;
        flex-direction: column;     
        align-items: center;
        justify-content: center;        

        img{
            width: 80%;
        }
    }

    .fa-arrow-right{
        color: $color-primary;
        margin-left: .3rem;
    }
}