*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Butler-Regular";  
    color: $color-black;
}

h2,h3,h4,h5,h6{
    letter-spacing: 1.5px;  
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

p{
  font-family:"Raleway-Regular"; 
}




