@font-face {
    font-family: 'Butler-Regular';  
    src:  url("../fonts/Butler/Butler-Regular.otf") format("opentype");
}


@font-face {
    font-family: 'Raleway-Regular';  
    src:  url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");    
}

